[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = kirkstone
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "layers/meta-qt6"]
	path = layers/meta-qt6
	url = git://code.qt.io/yocto/meta-qt6.git
	branch = 6.5.3
[submodule "layers/meta-kf6"]
	path = layers/meta-kf6
	url = https://invent.kde.org/packaging/yocto-meta-kf6.git
	branch = master